@import "tailwindcss";

:root {
    --dark-gray: #121212;
    --light-gray1: #373737;
    --light-gray2: #2A2A2A;
    --light-gray3: #B3B3B3;
    --main-green: #1BC357;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.custom-scroll {
    overflow-y: auto;
    scrollbar-width: none;
    /* Ẩn thanh cuộn trên Firefox */
    -ms-overflow-style: none;
    /* Ẩn thanh cuộn trên IE/Edge */
}

.custom-scroll::-webkit-scrollbar {
    width: 8px;
    /* Điều chỉnh độ dày thanh cuộn */
    position: absolute;
    z-index: 10;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: transparent;
    /* Ẩn nền thanh cuộn */
}

.loader-container {
    position: relative;

    z-index: 2;
}

.loader {
    width: 8px;
    height: 40px;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
    position: absolute;
    background: currentColor;
    color: #FFF;
    box-sizing: border-box;
    animation: animloader 0.3s 0.3s linear infinite alternate;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.loader::after,
.loader::before {
    content: '';
    width: 8px;
    height: 40px;
    border-radius: 4px;
    background: currentColor;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    box-sizing: border-box;
    animation: animloader 0.3s 0.45s linear infinite alternate;
}

.loader::before {
    left: -20px;
    animation-delay: 0s;
}

@keyframes animloader {
    0% {
        height: 48px
    }

    100% {
        height: 4px
    }
}

@keyframes slow-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.slow-spin {
    animation: slow-spin 10s linear infinite;
    /* 6s cho 1 vòng quay */
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.ant-table {
    background-color: var(--dark-gray) !important;
    /* Màu nền */
    color: var(--light-gray3) !important;


}

.ant-table-thead>tr>th {
    color: var(--light-gray3) !important;
    background-color: transparent !important;
    /* Màu nền */
    text-align: center !important;
    border-bottom: none !important;
}

.ant-table-tbody>tr>td {
    padding: 0.5rem !important;
    text-align: center !important;
    border-bottom: none !important;
}

.ant-table-tbody>tr:hover>td {
    background-color: var(--light-gray2) !important;
    /* Hover */
}

.ant-pagination {
    justify-content: center !important;
    background-color: transparent !important;
    border-radius: 8px;
    margin: 0 !important;
    margin-top: 0.5rem !important;
}

.ant-pagination-item:hover {
    background-color: #e0e0e0 !important;
}

.slide-down {
    animation: slideDown 0.8s ease-out forwards;
}

@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.input-animation {
    position: relative;
}

.input-animation input {
    border: 1px solid lightgray;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    outline: none;
    padding: 0 1rem;
    transition: 0.25s ease;
}


.input-animation label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    pointer-events: none;
    transition: all 0.25s ease;
    color: var(--light-gray3);
    font-size: 15px;
}

.input-animation input:not(:placeholder-shown)+label,
.input-animation input:focus+label {
    top: 0;
    left: 1.5rem;
    color: var(--main-green);
    background-color: var(--dark-gray);
    padding: 0 5px;
    font-size: 13px;
}